<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.hoaserver.dao.CommentDao">
    <insert id="save">
        INSERT INTO comment (content, create_time,  user_id,  type,target_id)
        VALUES (#{content}, #{createTime}, #{userId},  #{type},#{targetId})
    </insert>

    <select id="list" resultType="DO.Comment">
        SELECT id, type, target_id, user_id, content, create_time
        FROM comment
        WHERE target_id = #{targetId} AND type = #{type}
        ORDER BY create_time DESC
    </select>
</mapper>